.nav__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;
}

.nav__item:not(:last-child) {
    margin-right: 25px;
}

@media (max-width: 520px) {
    .nav__list {
        flex-direction: column-reverse;       
    }

    .nav__item:not(:first-child) {
        margin-bottom: 5px;
    }

    .header__nav__btn {
        font-size: 10px;
        box-shadow: none;
        padding: 5px 15px;
    }

    .header__nav__btn:hover {
        box-shadow: none;
    }
}

